@import "tailwindcss";

@theme {

  /* Fonts */
  --font-jost: "Jost", sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;
  --font-montserrat: "Montserrat", sans-serif;

  /* Colors */
  --color-dark-primary: #0A0A0A;
  --color-dark-secondary: #111111;
  --color-gold: #B8922A;
  --color-gray-primary: #888888;
  --color-gray-light: #E4E4E4;
  --color-gray-dark: #555555;
  --color-offwhite: #F7F7F5;
  --color-black-soft: #181818;

  /* Font Sizes */
  --text-custom-4xl: 32px;
  --text-custom-6xl: 56px;
  --text-custom-9xl: 100px;

  /* line-height */
  --leading-100: 100%;
  --leading-120: 120%;
  --leading-150: 150%;



  /* letter-spacing */
  --tracking-20: 20%;
  --tracking-10: 10%;

}



.rahul-bg {
  background-image: url(/assets/images/webp/logo-img.webp);
}




@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-delay-1 {
  opacity: 0;
  animation: fadeSlideUp 0.6s ease 0.2s forwards;
}

.animate-delay-2 {
  opacity: 0;
  animation: fadeSlideUp 0.6s ease 0.5s forwards;
}

.animate-delay-3 {
  opacity: 0;
  animation: fadeSlideUp 0.6s ease 0.8s forwards;
}











input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #F7F7F5;
}